<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wyszukaj</title>
</head>

<body>
<div class="container">
    <a href="/index" class="btn btndefault"><span class="glyphicon-hand-left glyphicon"></span>Przejdź do strony głównej</a>
</div>

<form th:action="@{/result}" th:method="get">
    <label>Wyszukaj po name:</label>
    <input type="text" name="name" id="name"/>
    <input type="submit" value="Wyszukaj">
</form>

</body>
</html>